session form
    login form container
    signup form container
    session form


nav bar
    nav bar
    nav bar container


splash
    splash container
    splash


footer
    footer container
    footer


greeting
    greeting container
    greeting


friends
    friend index container
    friend index
    friend index item
    * can delete friends from this page //
    * add deleteFriend in mSTP
    * on the main page // home

    -fetchFriends()
    -fetchFriend(FriendId)
    -createFriend(Friend)
    -deleteFriend(FriendId)


home
    home container
    home
    * not sure what all we want here yet
    * definitely want to have friends
    * then maybe just a splash image


drawing boards
    drawing board index container
    drawing board index
    drawing board index item
    create drawing board form container
    edit drawing board form container
    drawing board form
    drawing board show container
    drawing board show

    -fetchDrawingBoards()
    -fetchDrawingBoard(drawingBoardId)
    -createDrawingBoard(drawingBoard)
    -updateDrawingBoard(drawingBoard)
    -deleteDrawingBoard(drawingBoardId)


easel
    easel index container
    easel index item
    easel index
    easel show container
    easel show
    create easel form container
    edit easel form container
    easel form

    -fetchEasels()
    -fetchEasel(EaselId)
    -createEasel(Easel)
    -updateEasel(Easel)
    -deleteEasel(EaselId)
    

online users
    online index container
    online index item
    online index
    * put a button for add friend under  users if not friends

    -fetchOnlineUsers()
    -fetchOnlineUser(OnlineUserId)


offline users
    offline index container
    offline index item
    offline index
    * put a button for add friend under  users if not friends
    
    -fetchOfflineUsers()
    -fetchOfflineUser(OfflineUserId)


game mode
    game container
    game
    *need to add a lot more here but will find in time













