<!-- session form
    login form container
    signup form container
    session form -->

<!-- nav bar
    nav bar
    nav bar container -->

<!-- splash
    splash container
    splash -->

footer
    footer container
    footer

<!-- greeting
    greeting container
    greeting -->

friends
    friend index container
    friend index
    friend index item
    * on the main page // home

home
    home container
    home
    * not sure what all we want here yet
    * definitely want to have friends
    * then maybe just a splash image

drawing boards
    drawing board index container
    drawing board index
    drawing board index item
    create drawing board form container
    edit drawing board form container
    drawing board form
    drawing board show container
    drawing board show

easel
    easel index container
    easel index item
    easel index
    easel show container
    easel show
    create easel form container
    edit easel form container
    easel form
    
online
    online index container
    online index item
    online index
    
offline
    offline index container
    offline index item
    offline index
    
game mode
    game container
    game
    *need to add a lot more here but will find in time













