// color: rgb(0, 0, 0);
// color: rgb(237, 168, 91);
// color: rgb(120, 106, 98);
// color: rgb(244, 225, 165);
// color: rgb(182, 192, 200);


// 
// ** SCSS RESET
// 

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}



// 
// ** NAV BAR // HEADER
// 


.nav-container {
    // font-family: 'Spartan', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    // border: 2px solid magenta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    // margin-top: 0;
    height: 10vh;
    // background: rgb(0, 0, 0);
    background: rgb(16, 3, 7);
    // color: rgb(237, 168, 91);
    // color: rgb(120, 106, 98);
    // color: rgb(244, 225, 165);
    color: rgb(182, 192, 200);

  .header-left {
    margin-left: 2vw;
  }

  .header-right {
    margin-right: 2.5vw;
  }

  .header-group {
    display: flex;
  }    
}


// 
// ** FOOTER
// 


  .footer {
    // font-family: 'Spartan', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    // border: 2px solid magenta;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    // background: rgb(0, 0, 0);
    background: rgb(16, 3, 7);
      div {
        margin-left: 2vw;
        margin-right: 2.5vw;
        font-size: 18px;
      }
    .connect {
      color: rgb(237, 168, 91);
    }
    .julia {
      color: rgb(179, 142, 120);
    }
    .robby {
      color: rgb(193, 188, 174);
    }
    .sam {
      color: rgb(162, 198, 228);
    }
    .tahj {
      color: rgb(237, 168, 91);
    }
  }




// 
// ** SPLASH PAGE
// 


.splash-page {
  // font-family: 'Spartan', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  padding-top: 15vh;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: 15vh;
  height: 70vh;
  width: 96vw;
  background: rgb(30, 5, 14);
  // ^this one is nice ?? dark burg
  // background: rgb(23, 23, 23);
  color: rgb(244, 225, 165);
}


// 
// ** SESSION FORM LOGIN
// 


.session-form-container {
  // font-family: 'Spartan', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  padding-top: 15vh;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-bottom: 15vh;
  display: flex;

  .login-signup-header {
    border: 1px solid red;
    text-align: center;
  }

  .login-signup-errors {
    border: 1px solid orange;
    text-align: center;
  }

  .session-form {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    // align-items: center;

  }

  .session-submit {
    border: 1px solid cyan;
  }

  .new-user {
    border: 1px solid magenta;
  }

}