// font-family: 'Josefin Sans', sans-serif;

// color: rgb(0, 0, 0);
// color: rgb(237, 168, 91);
// color: rgb(120, 106, 98);
// color: rgb(244, 225, 165);
// color: rgb(182, 192, 200);
// first color scheme NOT GOOD


// color: rgb(16, 3, 7);
// // nav / & footer background
// color: rgb(237, 168, 91);
// // connect / & tahj
// color: rgb(179, 142, 120);
// // julia
// color: rgb(193, 188, 174);
// // robby
// color: rgb(162, 198, 228);
// // sam
// color: rgb(30, 5, 14);
// // splash background
// color: rgb(244, 225, 165);
// // splash font





// 
// ** SCSS RESET
// 

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}



// 
// ** NAV BAR // HEADER
// 


.nav-container {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    // background: rgb(57, 57, 57);
    // pic sent 1
    // background: rgb(23, 23, 23);
    // pic sent 2
    background: rgb(7, 7, 9);
    // color: rgb(203, 191, 255);
    // pic sent 1 & 2
    color: rgb(252, 229, 195);

  .header-left {
    margin-left: 2vw;
  }

  .header-right {
    margin-right: 2.5vw;
  }

  .header-group {
    display: flex;
  }    
}


// 
// ** FOOTER
// 


  .footer {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    // background: rgb(57, 57, 57);
    // pic sent 1
    // background: rgb(23, 23, 23);
    // pic sent 2
    background: rgb(7, 7, 9);
      div {
        margin-left: 2vw;
        margin-right: 2.5vw;
        font-size: 18px;
      }
    .connect {
      // color: rgb(255, 197, 130);
      // pic sent 1 & 2
      color: rgb(252, 229, 195);
    }
    .sam {
      // color: rgb(203, 191, 255);
      // pic sent 1 & 2
      color: rgb(183, 167, 255);
    }
    .robby {
      // color: rgb(220, 198, 196);
      // pic sent 1 & 2
      color: rgb(255, 169, 169);
    }
    .julia {
      // color: rgb(177, 255, 230);
      // pic sent 1 & 2
      color: rgb(185, 213, 249);
    }
    .tahj {
      // color: rgb(255, 197, 130);
      // pic sent 1 & 2
      color: rgb(252, 229, 195);
    }
  }




// 
// ** SPLASH PAGE
// 


.splash-page {
  font-family: 'Spartan', sans-serif;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 80vh;
  width: 100vw;
  background: rgb(16, 24, 30);
  color: rgb(200, 221, 249);
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: 1fr;

  .left-side {

    background: rgb(255, 169, 169);
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    align-items: center;
    .logo {
      width: 65%;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
      text-align: center;
    }
    .weeasel {
      color: black;
      font-size: 5.5em;
      font-weight: 700;
      margin-top: 2vh;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
    }
    .weeasel-logo-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        filter: drop-shadow(0 0 0.4rem rgb(255, 230, 147));
      }
    }
  }


  .right-side {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 5.5vh;
    align-items: center;
    font-size: 2em;
    text-align: center;
    color: rgb(185, 213, 249);
    strong {
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    p {
      padding: 0.2em;
    }

    .join-fun {
      color: black;
      font-weight: 600;
      background: rgb(183, 167, 255);
      padding: 0.5em;
      border-radius: 0.6em;
      margin-top: 30px;
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }
  }



}


// 
// ** SESSION FORM LOGIN
// 


.session-form-container {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  // display: flex;
  // justify-content: center;
  // can add this^ on the session form

  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 80vh;
  background: rgb(16, 24, 30);
  color: rgb(185, 213, 249);

  .left-side {
    background: rgb(255, 169, 169);
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    align-items: center;
    .logo {
      width: 65%;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
      text-align: center;
    }
    .weeasel {
      color: black;
      font-size: 5.5em;
      font-weight: 700;
      margin-top: 2vh;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
    }
    .weeasel-logo-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        filter: drop-shadow(0 0 0.4rem rgb(255, 230, 147));
      }
    }
  }

  .session-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-signup-header {
      padding-top: 4vh;
      // border: 1px solid red;
      text-align: center;
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 1.5%;
      letter-spacing: 0.2em;
      color: rgb(185, 213, 249);
      filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }

    .login-signup-errors {
      // border: 1px solid orange;
      text-align: center;
      // STILL NEED TO DO CSS FOR ERRORS
    }

    .session-form {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      width: 40%;
    }

    .login-input {
     border: 1px solid rgb(185, 213, 249);
     margin: 0.6em 0; 
     padding: 0.6em 0.4em;
     border-radius: 0.6em;
      // need to do pseudo selector for while
      // typing in the inputs
    }

    .login-input::placeholder {
      color: rgb(185, 213, 249);
      letter-spacing: 0.3em;
      padding-left: 0.3em;
    }

    .session-submit {
      margin: 0.6em 0; 
      padding: 0.6em 0.4em;
      border-radius: 0.6em;
      letter-spacing: 0.3em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      // border: 1px solid rgb(183, 167, 255);
      background:rgb(183, 167, 255);
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      color: black;
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }

    .button-at-bottom {
      // border: 1px solid red;
      margin: 0.6em 0; 
      padding: 0.6em 0.4em;
      border-radius: 0.6em;
      letter-spacing: 0.3em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      // border: 1px solid rgb(183, 167, 255);
      background:rgb(183, 167, 255);
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      color: black;
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }

    .new-user {
      // border: 1px solid magenta;
      text-align: center;
      font-size: 1.3em;
      letter-spacing: 0.1em;
      padding-bottom: 1vh;
    }
  }

}



// 
// ** HOME
// 

.home {
  // font-family: 'Josefin Sans', sans-serif;
  font-family: 'Spartan', sans-serif;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100vw;
  height: 80vh;
  // background: rgb(89, 89, 89);
  // pic sent 1
  // background: rgb(34, 34, 34);
  // pic sent 2
  background: rgb(16, 24, 30);
  // color: rgb(177, 255, 230);
  // pic sent 1 & 2
  color: rgb(200, 221, 249);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;

  .drawing-board-show-page {
    grid-column: 2;
  
    grid-row: 1 / 4;
    background-color: red ;
  }


  .drawing-board-index {
    border: 1px solid white;
    grid-column: 1;
    grid-row: 1 / 4;
  }

  .easel-show {
    border: 1px solid white;
    grid-column-start: 2;
    background: rgb(35, 37, 40);
  }

  .easel-index {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 2;
  }

  .chat-index {
    border: 1px solid white;
    grid-column: 2;
    grid-row: 3;
  }

  .friend-index {
    border: 1px solid white;
    grid-column: 3;
    grid-row: 1 / 4;
  }

}








/*======================
       Nav Bar Left
=======================*/
.show{
  display: block; 
}

.hidden{
  display: none;
}
.drawing-board-index{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-board-name{
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 5px;
}

.add-friends-dropdown-container{
  display: flex;
  background-color: transparent;
  flex-direction: column;
  border: 1px solid rgb(193, 188, 174);
  border-radius: 3px;
  margin: 3px;
}

.create-board-friends-list{
  display: block;
  background-color: rgba(193, 188, 174, 0.351);
}

.create-board-btn{
  width: 90%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(193, 188, 174);
  color:black;
}

//FRIENDS SIDE PANE

.friend-index-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  position: relative;

  .friend-index-title {
      padding: 10px;

  }

  i {
     padding-right: 10px;
     cursor: pointer;

     &:hover {
       color: rgb(252, 229, 195);;
     }
  }

  

}

.add-friend-dropdown {
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 50px;
  right: 15px;
  box-shadow: 2px 2px 5px rgb(252, 229, 195);
  border-radius: 20px;
  background-color: rgb(35, 37, 40);
  height: 175px;
  overflow-y: scroll;

  .add-friend-dropdown-title{
    padding: 10px 0 0 10px;
    font-weight: bolder;
    font-size: 16px;
  }

  .add-friend-list {
    padding: 0 10px 10px 10px;
    

    .add-friend-item {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &:hover {
        font-weight: bolder;
      } 
    }
  }
}

.friend-items {
    padding: 10px 0 10px 0;
    width: 90%;
    margin: auto;

    .friend-index-subheader {
      padding-bottom: 5px;
      font-size: 12px;
      font-weight: bolder;
    }

    .friend-index-item {
      display: flex;
      justify-content: space-between;
      padding: 5px 0 5px 0;

      i {
        padding-right: 10px;
        cursor: pointer;

        &:hover {
          color: rgb(252, 229, 195);;
     }
  }
    }

  }

// drawing board stuff

#main-easel-display {
  width: 95%;
  height: 500px;
  margin: auto;
}

.canvas {
  width: 100%;
  height: 100%;
  z-index: 3;
}