// font-family: 'Josefin Sans', sans-serif;

// color: rgb(0, 0, 0);
// color: rgb(237, 168, 91);
// color: rgb(120, 106, 98);
// color: rgb(244, 225, 165);
// color: rgb(182, 192, 200);
// first color scheme NOT GOOD


// color: rgb(16, 3, 7);
// // nav / & footer background
// color: rgb(237, 168, 91);
// // connect / & tahj
// color: rgb(179, 142, 120);
// // julia
// color: rgb(193, 188, 174);
// // robby
// color: rgb(162, 198, 228);
// // sam
// color: rgb(30, 5, 14);
// // splash background
// color: rgb(244, 225, 165);
// // splash font





// 
// ** SCSS RESET
// 

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}



// 
// ** NAV BAR // HEADER
// 


.nav-container {
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    background: rgb(7, 7, 9);
    color: rgb(252, 229, 195);

    
    
    .home-nav {
      margin-left: 1vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      letter-spacing: 3px;
      i {
        filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      }
      
      .current-user-nav-bar {
        // padding-top: 0.1vh;
        margin-top: 2vh;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 3px;
        padding-left: 2px;
        color: rgb(255, 169, 169);
        // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
        color: rgb(255, 255, 255);
        text-shadow:
          0 0 7px rgb(255, 169, 169),
          0 0 15px rgb(255, 169, 169),
          0 0 10px rgb(255, 169, 169),
          0 0 42px rgb(255, 169, 169);
      }
      .nav-logo {
        // width: 6%;
        // padding-top: 0.1vh;
        margin-top: -1vh;
        height: 7vh;
        width: auto;
        filter: invert(84%) sepia(15%) saturate(539%) hue-rotate(344deg) brightness(108%) contrast(98%) drop-shadow(0 0 0.3rem rgb(255, 255, 255));
        // filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255));
      }
  }

  .header-right {
    margin-right: 1.5vw;
    letter-spacing: 3px;
    // filter: drop-shadow(0 0 0.3rem rgba(255, 255, 255, 0.714));
    #brush {
      filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.714));
    }
    #palette {
      filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.714));
    }
    .logout {
      font-weight: 600;
      color:rgb(255, 169, 169);
      color: rgb(255, 255, 255);
      text-shadow:
        0 0 7px rgb(255, 169, 169),
        0 0 15px rgb(255, 169, 169),
        // 0 0 10px rgb(255, 169, 169),
        0 0 42px rgb(255, 169, 169);
      // filter: drop-shadow(0 0 0.7rem rgba(255, 255, 255, 0.714));
      &:hover {
        color:rgb(250, 104, 104);
        // filter: drop-shadow(0 0 0.2rem rgba(255, 255, 255, 0.714));

      }
    }
  }


  .header-group {
    display: flex;
  }    
}


// 
// ** FOOTER
// 


  .footer {
    // font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spartan', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    bottom: 0;
    // background: rgb(57, 57, 57);
    // pic sent 1
    // background: rgb(23, 23, 23);
    // pic sent 2
    background: rgb(7, 7, 9);
      div {
        margin-left: 1vw;
        margin-right: 1.5vw;
        font-size: 18px;
      }
    .connect {
      // color: rgb(255, 197, 130);
      // pic sent 1 & 2
      // color: rgb(252, 229, 195);
      // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      letter-spacing: 3px;
      color: rgb(255, 255, 255);
      text-shadow:
        0 0 7px rgb(255, 230, 147),
        0 0 15px rgb(255, 230, 147),
        0 0 10px rgb(255, 230, 147),
        0 0 42px rgb(255, 230, 147);
      
    }
    .julia {
      // color: rgb(177, 255, 230);
      // pic sent 1 & 2
      // color: rgb(185, 213, 249);
      // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      color: rgb(255, 255, 255);
      text-shadow:
        0 0 7px rgb(128, 244, 242),
        0 0 15px rgb(128, 244, 242),
        0 0 10px rgb(128, 244, 242),
        0 0 42px rgb(128, 244, 242);
      letter-spacing: 5px;
    }
    .robby {
      // color: rgb(220, 198, 196);
      // pic sent 1 & 2
      // color: rgb(255, 169, 169);
      // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      letter-spacing: 5px;
      color: rgb(255, 255, 255);
      text-shadow:
        0 0 7px rgb(255, 169, 169),
        0 0 15px rgb(255, 169, 169),
        0 0 10px rgb(255, 169, 169),
        0 0 42px rgb(255, 169, 169);
    }
    .sam {
      // color: rgb(203, 191, 255);
      // pic sent 1 & 2
      // color: rgb(183, 167, 255);
      // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      letter-spacing: 5px;
      color: rgb(255, 255, 255);
      text-shadow:
      0 0 7px rgb(159, 105, 213),
      0 0 15px rgb(159, 105, 213),
      0 0 10px rgb(159, 105, 213),
      0 0 42px rgb(159, 105, 213);
    }
    .tahj {
      // color: rgb(255, 197, 130);
      // pic sent 1 & 2
      // color: rgb(252, 229, 195);
      // filter: drop-shadow(0 0 0.3rem rgb(255, 255, 255));
      letter-spacing: 5px;
      color: rgb(255, 255, 255);
      text-shadow:
        0 0 7px rgb(255, 230, 147),
        0 0 15px rgb(255, 230, 147),
        0 0 10px rgb(255, 230, 147),
        0 0 42px rgb(255, 230, 147);
    }
  }




// 
// ** SPLASH PAGE
// 


.splash-page {
  font-family: 'Spartan', sans-serif;
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 80vh;
  width: 100vw;
  background: rgb(16, 24, 30);
  color: rgb(200, 221, 249);
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: 1fr;

  .left-side {

    background: rgb(255, 169, 169);
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    align-items: center;
    .logo {
      width: 65%;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
      text-align: center;
    }
    .weeasel {
      color: black;
      font-size: 5.5em;
      font-weight: 700;
      margin-top: 2vh;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
    }
    .weeasel-logo-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        filter: drop-shadow(0 0 0.4rem rgb(255, 230, 147));
      }
    }
  }


  .right-side {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    padding-top: 5.5vh;
    align-items: center;
    font-size: 2em;
    text-align: center;
    color: rgb(185, 213, 249);
    strong {
      font-weight: 700;
      letter-spacing: 0.1em;
    }
    p {
      padding: 0.2em;
    }

    .join-fun {
      color: black;
      font-weight: 600;
      background: rgb(183, 167, 255);
      padding: 0.5em;
      border-radius: 0.6em;
      margin-top: 30px;
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }
  }



}


// 
// ** SESSION FORM LOGIN
// 

// border: 0.2rem solid #fff;
// border-radius: 2rem;
// padding: 0.4em;
// box-shadow: 0 0 .2rem #fff,
//             0 0 .2rem #fff,
//             0 0 2rem #bc13fe,
//             0 0 0.8rem #bc13fe,
//             0 0 2.8rem #bc13fe,
//             inset 0 0 1.3rem #bc13fe;


.session-form-container {
  font-family: 'Spartan', sans-serif;
  font-size: 16px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  // display: flex;
  // justify-content: center;
  // can add this^ on the session form

  display: grid;
  grid-template-columns: 1fr 1.25fr;
  grid-template-rows: 1fr;
  width: 100vw;
  height: 80vh;
  background: rgb(16, 24, 30);
  color: rgb(185, 213, 249);

  .left-side {
    background: rgb(255, 169, 169);
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    align-items: center;
    .logo {
      width: 65%;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
      text-align: center;
    }
    .weeasel {
      color: black;
      font-size: 5.5em;
      font-weight: 700;
      margin-top: 2vh;
      filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
    }
    .weeasel-logo-login {
      display: flex;
      flex-direction: column;
      align-items: center;
      &:hover {
        filter: drop-shadow(0 0 0.4rem rgb(255, 230, 147));
      }
    }
  }

  .session-form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-signup-header {
      padding-top: 4vh;
      // border: 1px solid red;
      text-align: center;
      font-size: 3em;
      font-weight: 600;
      margin-bottom: 1.5%;
      letter-spacing: 0.2em;
      color: rgb(185, 213, 249);
      filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
    }

    .login-signup-errors {
      // border: 1px solid orange;
      text-align: center;
      // STILL NEED TO DO CSS FOR ERRORS
    }

    .session-form {
      // border: 1px solid green;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-content: center;
      width: 40%;
    }

    .login-input {
     border: 1px solid rgb(185, 213, 249);
     margin: 0.6em 0; 
     padding: 0.6em 0.4em;
     border-radius: 0.6em;
      // need to do pseudo selector for while
      // typing in the inputs
    }

    .login-input::placeholder {
      color: rgb(185, 213, 249);
      letter-spacing: 0.3em;
      padding-left: 0.3em;
    }

    .session-submit {
      margin: 0.6em 0; 
      padding: 0.6em 0.4em;
      border-radius: 0.6em;
      letter-spacing: 0.3em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      // border: 1px solid rgb(183, 167, 255);
      background:rgb(183, 167, 255);
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      color: black;
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }

    .button-at-bottom {
      // border: 1px solid red;
      margin: 0.6em 0; 
      padding: 0.6em 0.4em;
      border-radius: 0.6em;
      letter-spacing: 0.3em;
      text-align: center;
      font-size: 1.1em;
      font-weight: 600;
      // border: 1px solid rgb(183, 167, 255);
      background:rgb(183, 167, 255);
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
      color: black;
      &:hover {
        background: rgb(252, 229, 195);
        color: rgb(138, 185, 245);
        border-radius: 0.6em;
        filter: drop-shadow(0 0 0.4rem rgb(255, 255, 255))
      }
    }

    .new-user {
      // border: 1px solid magenta;
      text-align: center;
      font-size: 1.3em;
      letter-spacing: 0.1em;
      padding-bottom: 1vh;
    }
  }

}



// 
// ** HOME
// 

.home {
  // font-family: 'Josefin Sans', sans-serif;
  font-family: 'Spartan', sans-serif;
  padding-top: 10vh;
  padding-bottom: 10vh;
  width: 100vw;
  height: 80vh;
  // background: rgb(89, 89, 89);
  // pic sent 1
  // background: rgb(34, 34, 34);
  // pic sent 2
  background: rgb(16, 24, 30);
  // color: rgb(177, 255, 230);
  // pic sent 1 & 2
  color: rgb(200, 221, 249);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 3fr 1fr 1fr;

  .drawing-board-show-page {
    grid-column: 2;
    // border-left: 1px solid rgb(185, 213, 249);
    grid-row: 1 / 4;
  }


  .drawing-board-index {
    // border-right: 1px solid white;
    grid-column: 1;
    grid-row: 1 / 4;
    // overflow-y: hidden;
    // border-right:1px solid rgb(185, 213, 249);
  }

  .easel-show {
    // border: 1px solid white;
    grid-column-start: 2;
    background: rgb(35, 37, 40);
  }

  .easel-index {
    // border: 1px solid white;
    grid-column: 2;
    grid-row: 2;
  }

  .chat-index {
    // border: 1px solid white;
    grid-column: 2;
    grid-row: 3;
  }

  .friend-index {
    // border-left: 1px solid rgb(185, 213, 249);;
    grid-column: 3;
    grid-row: 1 / 4;
  }

}



/*======================
       Nav Bar Left
=======================*/
.show{
  display: block; 
}

.hidden{
  display: none;
}
.drawing-board-index{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.new-board-name{
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 5px;
}

.add-friends-dropdown-container{
  display: flex;
  background-color: transparent;
  flex-direction: column;
  border: 1px solid rgb(193, 188, 174);
  border-radius: 3px;
  margin: 3px;
}

.create-board-friends-list{
  display: block;
  background-color: rgba(193, 188, 174, 0.351);
}

.create-board-btn{
  width: 90%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  background-color: rgb(193, 188, 174);
  color:black;
}



// 
//** FRIENDS SIDE PANE
// RIGHT NAV
// 

//FRIENDS SIDE PANE


.friend-index-header , .boards-index-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(185, 213, 249);
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  position: relative;
  color:rgb(183, 167, 255);

  .friend-index-title {
      // padding: 10px;
      padding: 15px 0;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 5px;
      color: rgb(255, 255, 255);
      text-shadow:
      0 0 7px rgb(159, 105, 213),
      0 0 15px rgb(159, 105, 213),
      0 0 10px rgb(159, 105, 213),
      0 0 42px rgb(159, 105, 213);
  }

  i {
     padding-right: 10px;
     cursor: pointer;
     color: rgb(240, 228, 209);
     filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));

     &:hover {
       color: white;
       filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
     }
  }

}

.boards-index-header{
  border-bottom: none;
  margin: 1px 0 1px 0;
  i {
     padding-right: 0px;
     cursor: pointer;
  }

}

.add-friend-dropdown {
  position: absolute;
  z-index: 1;
  width: 250px;
  top: 50px;
  right: 15px;
  box-shadow: 2px 2px 5px rgb(252, 229, 195);
  border-radius: 20px;
  background-color: rgb(35, 37, 40);
  height: 175px;
  overflow-y: scroll;

  .add-friend-dropdown-title{
    padding: 10px 0 0 10px;
    font-weight: bolder;
    font-size: 16px;
  }

  .add-friend-list {
    padding: 0 10px 10px 10px;

    .add-friend-item {
      padding-top: 15px;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      &:hover {
        font-weight: bolder;
      } 
    }
  }
}

.friend-items, .boards-items {
    padding: 10px 0 10px 0;
    width: 90%;
    margin: auto;

    .friend-index-subheader {
      padding-bottom: 10px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 5px;
      // filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255));
      // color:rgb(183, 167, 255);

      color: rgb(255, 255, 255);
      text-shadow:
      0 0 7px rgb(159, 105, 213),
      0 0 15px rgb(159, 105, 213),
      0 0 10px rgb(159, 105, 213),
      0 0 42px rgb(159, 105, 213);
    }



    .online {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3px;
      color: rgb(205, 222, 244);

      .on-and-off-button {
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        padding-bottom: 7px;
        i {
          font-size: 7px;
          margin-right: 0;
          color: rgb(252, 229, 195);
          filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
          &:hover {
            color: rgb(255, 243, 243);
            filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
          }
        }
      }

      i {
        padding-right: 10px;
        cursor: pointer;
        color:rgb(255, 169, 169);
        font-size: 11px;
        filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));

        &:hover {
          color: rgb(250, 104, 104);
          filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
        }
      }
    }


    .offline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 3px;
      color: rgb(205, 222, 244);

      .on-and-off-button {
        display: flex;
        align-items: center;
        letter-spacing: 3px;
        padding-bottom: 7px;
        i {
          font-size: 7px;
          margin-right: 0;
          color: rgb(255, 169, 169);
          filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
        }
      }

      i {
        padding-right: 10px;
        cursor: pointer;
        color:rgb(255, 169, 169);
        font-size: 11px;
        filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));

        &:hover {
          color: rgb(250, 104, 104);
          filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
        }
      }
    }

}






// 

/*============================================
       DB Nav Bar Left
=============================================*/

.show{
  display: block; 
}

.hidden{
  display: none;
}

.boards-list-title{
    margin-top: 8px;
    margin-bottom: 5px;
   padding: 10px;
   font-weight: 400;
   font-size: 16px;
      // color: rgb(255, 255, 255);
      // text-shadow:
      //   0 0 7px rgb(128, 244, 242),
      //   0 0 15px rgb(128, 244, 242),
      //   0 0 10px rgb(128, 244, 242),
      //   0 0 42px rgb(128, 244, 242);
      color: rgb(255, 255, 255);
      text-shadow:
      0 0 7px rgb(159, 105, 213),
      0 0 15px rgb(159, 105, 213),
      0 0 10px rgb(159, 105, 213),
      0 0 42px rgb(159, 105, 213);
}

.inside {
  font-size: 8px;
  &:hover {
    color:rgb(255, 255, 255);
  }
}

.drawing-board-name {
  padding-left: 1vw;
  font-size: 15px;
  margin-bottom: 8px;
  color:rgb(205, 222, 244);
}

.fa-user-plus {
  font-size: 10px;
  margin-bottom: 15px;
  // border: 1px solid red;
}





.drawing-board-index{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.new-board-name{
  border-bottom: 1px solid gray;
  padding: 5px;
  margin-bottom: 5px;
}

.add-friends-dropdown-container{
  display: flex;
  background-color: transparent;
  flex-direction: column;
  border: 1px solid rgb(193, 188, 174);
  border-radius: 3px;
  margin: 3px;
}

.create-board-friends-list{
  display: block;
  background-color: rgba(193, 188, 174, 0.351);
}

.create-board-btn{
  width: 90%;
  padding: 5px;
  margin: 5px;
  border-radius: 3px;
  // border: 1px solid red;
  background-color: rgb(190, 175, 255);
  color:black;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  border: 1px solid #fff;
// border-radius: 1rem;
// padding: 0.4em;
box-shadow: 0 0 .2rem #fff,
            0 0 0.5rem #ce6af5,
            inset 0 0 1rem #ce6af5;
}

.new-board-name {
  font-size: 14px;
}

#create-board-name {
  font-size: 14px;
  margin-top: 6px;
  margin-right: 4px;
}

#left-leave-easel {
  color:rgb(255, 169, 169);
  font-size: 11px;
  margin-bottom: 10px;
  &:hover {
    color: rgb(250, 104, 104);
    filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255));
  }
}

.board-list-nav{
  right: -200px;
}

.new-baord-name-input{
  display: flex;
  justify-content: space-between;
.new-board-name{
  width: 80%;
}
  i{
    font-size: 25px;
    justify-content: center;
  }
}



// drawing board stuff
// 

.drawing-board-show-page {
  // padding-top: 10vh;
  // padding-bottom: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  //================//
  position:relative
}

.drawing-board-show-page-name{
   position: absolute;
    width: 70vw;
    top: -5vh;
    left: 0;
    color: white;
    text-shadow: 0 0 7px #80f4f2, 0 0 15px #80f4f2, 0 0 10px #80f4f2, 0 0 42px #80f4f2;
    letter-spacing: 5px;
    text-align: center;
}


.drawing-board-show-nav {
  position: relative;
  display: grid;
  height: 30%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "nav chat"
  "nav chat"

  ;
}

.chat-container {
  grid-area: chat;
  // width: 200px;
  height: 90%;
  display: grid;
  border-left: 0.5px solid rgb(16, 24, 30);
  border-top: 0.5px solid rgb(16, 24, 30);
  grid-template-rows: 20px 1fr 50px;
  grid-template-columns: 1fr;
  justify-self: center;
  width: 100%;
  overflow: hidden;
  background: rgb(47, 60, 75);
      .weasel-chat {
        font-size: 15px;
        font-weight: 400;
        grid-row-start: 1;
        padding-top: 20px;
        align-self: center;
        justify-self: center;
        letter-spacing: 8px;
        color: rgb(255, 255, 255);
        text-shadow:
          0 0 7px rgb(255, 230, 147),
          // 0 0 15px rgb(255, 230, 147),
          // 0 0 10px rgb(255, 230, 147),
          // 0 0 42px rgb(255, 230, 147);

      }
      .chat-box {
        box-sizing: border-box;
        grid-row-start: 2;
        justify-self: center;
        width: 100%;
        overflow-y: scroll;
        background-color: rgba(47, 60, 75, 0.502);
        margin-top: 10px;
        border-radius: 2%;
        padding: 5px 5px 5px 15px;
        font-size: 12px;
        color: rgb(200, 221, 249);
        letter-spacing: 3px;
      }
      .chat-input{
        display: flex;
        height: 20px;
        justify-content: space-between;
        grid-row-start: 3;
        overflow: auto;
        background: rgb(47, 60, 75);
        color: rgb(247, 243, 210);
        letter-spacing: 3px;
          input {
            border-bottom: 1px solid rgb(185, 213, 249);
            margin-left: 15px;
            width: 80%;
            font-size: 12px;
            letter-spacing: 3px;
            &::placeholder {
              letter-spacing: 7px;
              // padding-left: 3px;
              color: rgb(247, 243, 210);
            }
          }
          .send-button {
            padding-right: 3px;
            i {
              font-size: 14px;
              margin-bottom: 3px;
            }
          }
      }

}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(47, 60, 75);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(79, 94, 111);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0);
}



#main-easel-display {
  width: 100%;
  height: 75%;
  margin: auto;
  

  i {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
}

.canvas {
  width: 100%;
  height: 100%;
  background-color: rgb(240, 228, 209);
  
}

.tools-section {
  background: rgb(47, 60, 75);
  grid-area: nav;
  // display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
  font-size: 15px;
  height: 80%;
  padding-left: 5px;
  padding-top: 25px;
  border-top: 0.5px solid rgb(16, 24, 30);

  .painting-tools {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 25px;
    margin-left: 15px;
    color: rgb(185, 213, 249);
    i {
      color: rgb(247, 243, 210);
      filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    }
  }


  .lower-tools {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 20px;
  }




}


.easels-dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 25%;
  height: 30% ;
  top: 5px;
  right: 50%;

  background-color: silver;
  height: 150px;
  overflow: auto;
    p {
      text-align: center;
    }
  canvas {
    height: 70px;
    width: 70px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
  }

}

.show-easels-button{
  z-index: 2;
  margin-top: 15px;
}


// 
// ** DRAWING SHOW WHEN
// ** NOTHING ON PAGE
// 

.no-drawing-board-selected-pane {

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  background: rgb(47, 60, 75);


  .logo-logged-in {
    padding-top: 1vh;
    width: 40%;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    padding-bottom: 5px;
    &:hover {
      filter: drop-shadow(0 0 0.2rem rgb(255, 252, 233));
    }
  }

  .select-board {
    font-family: 'Spartan', sans-serif;
    font-size: 25px;
    font-weight: 700;
    // margin-right: 35px;
    margin-top: 5px;
    text-align: center;
    margin-bottom: 9px;
    letter-spacing: 5px;
    color: rgb(185, 213, 249);
  }

  #clients {
    color: rgb(249, 240, 211);
    margin-top: 12px;
    letter-spacing: 3px;
  }


}


.no-existing-easels-pane {
  position: relative;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100vw;
  height: 80vh;
  overflow: none;
  background: rgb(47, 60, 75);
  margin: 0;
  padding: 0;
  // margin-bottom: 15vh;

  .no-exist-ease {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 20px;
      font-weight: 600;
      color: rgb(185, 213, 249);
      text-align: center;
      margin-top:  5px;
    }
  }

  .create-new-easel-on-pane-form {
    color:rgb(247, 243, 210);
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 7px;
    &:hover {
      filter: drop-shadow(0 0 0.6rem rgb(255, 252, 233));
    }
  }

  .logo-logged-in {
    // padding-top: px;;
    width: 40%;
    filter: drop-shadow(0 0 0.2rem rgb(255, 255, 255));
    padding-bottom: 5px;
    &:hover {
      filter: drop-shadow(0 0 0.2rem rgb(255, 252, 233));
    }
  }


}

